<div class="jumbotron">
  <h1>Ezy Kiwi APP</h1>
  <p class="lead">My Stuff</p>
</div>
<div class="row">
  <div class="col-md-4">
    <h2>Ezy Kiwi</h2>
    @*<p>
      ASP.NET Web API is a framework that makes it easy to build HTTP services that reach
      a broad range of clients, including browsers and mobile devices. ASP.NET Web API
      is an ideal platform for building RESTful applications on the .NET Framework.
    </p>
    <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301870">Learn more &raquo;</a></p>*@
  </div>
  <div class="col-md-4">
    @*<h2>Get more libraries</h2>
    <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
    <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301871">Learn more &raquo;</a></p>*@
  </div>
  <div class="col-md-4">
    @*<h2>Web Hosting</h2>
    <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
    <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301872">Learn more &raquo;</a></p>*@
  </div>
</div>

@model SignUp.Models.EModel
@{
  ViewBag.Title = "EzyKiwi API";
}
@using (Html.BeginForm("Index", "Home", FormMethod.Post))
{
  @*@Html.TextBoxFor(p => p.word, new { @style = "width:800px" })*@
  @*<div>
    @Html.RadioButton("type", 1, true)EncryptText
    <br>@Html.RadioButton("type", 2, false)DecryptText
  </div>
  <div>
    <b>Output</b> :@ViewBag.Result
  </div>
  <input type="submit" value="submit" />*@

}
